body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #FDFEFF;
    background-color: #000000;
    padding: 20px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        #24009027,
        #0000009d ),
        url(./img/glasses\ v2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
}

.text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.intro-text {
    color: #fff;
    backface-visibility: hidden;
    border-radius: 20px;

}
.intro-text-main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.intro-text-bot {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .4rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
@media only screen and (max-width:1024px){
    .text-box {
        width: 100%;
        height: auto;
        top: 11%;
    }
    
    .intro-text-main {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }

    .intro-text-bot {
        font-size: 20px;
        text-align: center;
        letter-spacing: 0rem;
        font-weight: 600;
    }
    
}

/* Clickers */


.contaiiner {
    width: 90%;
    margin: 50px auto;
        height: auto;
    background-image: linear-gradient(
    to right bottom,
    #ffffff25,
    #55555604 ),
    url(./img/keyboardd.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}



.boxhead {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    color: #3500d3;

}


.row {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
flex-flow: wrap;
gap: 18px;
padding-top: 190px;


background-image: linear-gradient(
    to right bottom,
    #ffffff25,
    #55555604 ),
    url(./img/street\ modern.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
}

.card {
    width: 20%;
    background: rgba(51, 51, 51, 0.233);
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.5s;
    
}

.card-head {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(29deg, #3500d3bd 2%, #0c00329c 91%);
    color: #fff;
    font-weight: 600;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 19px;
}

.card-body .btn{
    display: block;
    color: #FDFEFF;
    text-align: center;
    background: -webkit-linear-gradient(29deg, #3500d3bd 2%, #0c00329c 91%);
    margin-top: 30px;
    text-decoration:none;
    padding: 10px 5px;
    font-weight: 600;

}
h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.card:hover{
    transform: scale(1.10);
    box-shadow: 0 0 40px -10px rgba(0,0,0, 0.25) ;
}

/* The fucking popperazie. (media queries) */

@media screen and (max-width: 1280px){
    .card{
        width: 40%;
    }
    .row {
        clip-path: none;
    }
    .header {
        clip-path: none;
    }
}

@media screen and (max-width: 768px){

    .contaiiner {
        width: 100% ;
    }

    .boxhead {
        padding: 20px;
        font-size: 20px;
    }

    .card{
        width: 80%;
        
    }

}

