

.banner-area {
    background-image: url('./img/camera.jpg');
    background-position: center center;
    -webkit-background-szie: cover;
    background-size: cover;
    height: 100vh;

}

header {
    padding: 15px 60px;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding: 20px 0;
    width: 20%;
    float: left;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    animation-delay: 2s;
    

}

.banner-text h2 {
    margin: 0;
    font-size: 50px;
    color: #3500d3;
    font-family: 'PT Serif', serif;
    font-weight: 700;

}

.banner-text p {
    font-size: 22px;
    margin: 0;
    animation-delay: 2s;

}


@media(max-width: 550px) {
    .logo {
        display: none;
    }

}



@media screen and (min-width:600px) {
    .typeauto {
        animation: type 4s steps(38);
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        font-family:  consolas;
        border-right: 4px solid #fff;
        width: 38ch;
        animation-iteration-count: 1;
    }
    
}


@keyframes type {
    0%{
        width:0ch ;
    }
    100% {
        width: 38ch;
    }
}


