
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #68696b;
    padding: 20px;
    overflow-x: hidden;
    background-color: #333;
}
.logo-box {
    position: absolute;
    top: 0px;
    z-index: 1;
}
.logo {
    height: 80px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.header2 {
    position: relative;
    height: 70vh;
    background-image: linear-gradient(
        to right bottom,
        #ffffff2f,
        #000000 ),
        url(./img/the\ wall.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;

}
.text-boxplan {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0vh;

}





@media screen and (max-width:1600px){

    .img-number-text li {
        font-size: 1.5rem;
    }

    strong {
        font-size: 1.6rem;
    }

}


.intro-text-main2 {
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: .2rem;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color:transparent;

}

.intro-text-bot2 {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-align: center;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color:transparent;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width:1024px){

    .intro-text-main2 {
        font-size: 3rem;
        margin-top: 30%;
        font-weight: bold;
        
    }

    .intro-text-bot2 {
        font-size: 2.3rem;
        text-align: center;
        letter-spacing: 0rem;
        font-weight: 400;
    }


}




.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(
        to right bottom,
        #250abe52,
        #55555604 ),
        url(./img/laptop.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        height: 90vh;
}
@media screen and (max-width:1600px) {
    .box-area {
        object-fit: fill;
        height: auto;
    }
}

.single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
    border-radius: 2px;
    border-style: solid;
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: #fff;
    height: auto;
    transition: .5s ease;

    background-image: linear-gradient(
        to right bottom,
        #0a0a0ad2,
        #0e0e1bb4 );
    

}

.single-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0,0,0, 0.25);
    background-color: #000000;
    outline:none;
    border-color:#d3c5005b;
    box-shadow:0 0 30px #d3c5007a;
    
}

.header-text {
    font-size: 2vh;
}

.single-box li {
    list-style: none;
    font-size: 1.6vh;
}
.single-box li:before{
    content: "\֍";
    color: #d3c500;
    margin-right: 6px;
}




@media screen and (max-width:1025px){
    .single-box {
        width: 100vh;
        margin: 1px;
        height: auto;
        min-height: none;
        letter-spacing: .2rem;
        font-size: 1.3rem;
        border: 1px solid #d3c500;
        padding-bottom: 20px;
    }
    .box-area {
    clip-path: none;
    background-image: linear-gradient(
        to right bottom,
        #ffffff25,
        #55555604 ),
        url(./img/cityredcloud.jpg);
        height: 70%;
        background-position: bottom;
    
    }
    body {
        padding: 10px;
    }

    .single-box li:before {
        content: "\0950";
        color: #d3c500;
        margin-right: 6px;
    }

}

